Source: zero-downtime-migrations
Section: python
Priority: extra
Maintainer: Vladimir Koljasinskij <smosker@yandex-team.ru>
Build-Depends: debhelper (>= 7),
# python-central for lucid, dh-python for trusty
 python (>= 2.7) | python-central, base-files (<<7.2) | dh-python,
 python-setuptools,
Standards-Version: 3.7.2
XS-Python-Version: >= 2.7
X-Python-Version: >= 2.7
XS-Vcs-Git: git@github.com:Smosker/zero-downtime-migrations.git

Package: zero-downtime-migrations
Architecture: all
Depends: ${python:Depends},
Provides: ${python:Provides},
Description: Application for serving tvm tickets
XB-Python-Version: ${python:Versions}
